body {
    text-align: center;
    background: azure;

}
.container {
    width: 600px;
    height: 80vh;
    margin: 0 auto;
    margin-top: 130px;
}
#login_info {
    width: 420px;
    margin: 0 auto;
}
#id, #password {
    width: 400px;
    height: 40px;
}

#login_btn {
    width: 410px;
    height: 40px;
    margin-top: 35px;
    background: floralwhite;
}
#login_btn:hover {
    cursor: pointer;
}

.remember-me_text {
    float: left;
    margin-top: 6px;
    margin-left: 5px;
}

#remember-me {
    float: left;
    margin-top: 10px;
}

hr {
    margin-top: 50px;
    width: 410px;
}

.sub_btn {
    width: 420px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}
.sub_btn > a {
    width: 31.9%;
    padding: 5px 2px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid gray;
    float: left;
}
.oauth {
    width: 420px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.oauth > input {
    width: 410px;
    height: 60px;
}
.kakao_btn {
    width: 410px;
    height: 60px;
    border-radius: 12px;
    background-repeat: round;
    border: 1px solid #FEE500;
}
.kakao_btn:hover {
    cursor: pointer;
}