body {
    text-align: center;
    background: azure;
}
span {
    float: left;
    margin-left: 3px;
    font-size: 12px;
}
.container {
    width: 410px;
    height: 80vh;
    margin: 0 auto;
    margin-top: 130px;
}
.reg_info {
    width: 400px;
    margin: 0 auto;
}
#id, #password, #pw_confirm, #nickName{
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

.id_success, .id_fail, .pw_success, .pw_fail, .pw_confirm_success, .pw_confirm_fail, .nick_name_success, .nick_name_fail {
	display: none;
}

.reg_btn {
    width: 410px;
    height: 40px;
    margin-top: 35px;
}