<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insertMember">
		insert into
			member
		values (
				#{id},
				#{password},
				#{nickName},
				default,
				default,
				default,
				default
				)
	</insert>
	
	<select id="selectIdDuplicate" resultType="int">
		select
			count(*)
		from
			member
		where
			member_id = #{id}
	</select>
	
	<select id="selectNickNameDuplicate" resultType="int">
		select
			count(*)
		from
			member
		where
			MEMBER_NICKNAME = #{nickName}
	</select>
	
	<select id="selectOneMember" resultMap="memberMap">
		select
			*
		from
			member
		where
			member_id = #{id}
			and member_enabled = 'Y'
	</select>
	
	<resultMap type="member" id="memberMap">
		<id column="MEMBER_ID" property="id"/>
		<result column="MEMBER_PASSWORD" property="password"/>
		<result column="MEMBER_NICKNAME" property="nickName"/>
		<result column="MEMBER_AUTHORITY" property="authority"/>
		<result column="MEMBER_REGI_DATE" property="enrollDate"/>
		<result column="MEMBER_LOGIN_TYPE" property="loginType"/>
		<result column="MEMBER_ENABLED" property="enabled"/>
	</resultMap>
	
</mapper>