<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<insert id="insertUser">
		insert into
			member
		values (
				#{id},
				#{password},
				#{nickName},
				default,
				default
				)
	</insert>
	
	<select id="selectIdDuplicate" resultType="int">
		select
			count(*)
		from
			member
		where
			id = #{id}
	</select>
	
	<select id="selectNickNameDuplicate" resultType="int">
		select
			count(*)
		from
			member
		where
			nickName = #{nickName}
	</select>
	
	<select id="user" resultType="user">
		select
			*
		from
			member
	</select>
	
	<select id="selectOneUser" resultMap="memberMap">
		select
			*
		from
			member
		where
			id = #{id}
	</select>
	
	<resultMap type="user" id="memberMap">
		<id column="ID" property="id"/>
		<result column="PASSWORD" property="password"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="REGI_DATE" property="regiDate"/>
		<result column="ENABLED" property="enabled"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="LOGIN_TYPE" property="loginType"/>
	</resultMap>
	
</mapper>