<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<insert id="insertUser">
		insert into
			member
		values (
				#{id},
				#{password},
				#{nickName},
				default,
				default,
				default,
				default
				)
	</insert>
	
	<select id="selectIdDuplicate" resultType="int">
		select
			count(*)
		from
			member
		where
			user_id = #{id}
	</select>
	
	<select id="selectNickNameDuplicate" resultType="int">
		select
			count(*)
		from
			member
		where
			user_nickName = #{nickName}
	</select>
	
	<select id="selectOneUser" resultMap="memberMap">
		select
			*
		from
			member
		where
			user_id = #{id}
			and user_enabled = 'Y'
	</select>
	
	<resultMap type="user" id="memberMap">
		<id column="USER_ID" property="id"/>
		<result column="USER_PASSWORD" property="password"/>
		<result column="USER_NICKNAME" property="nickName"/>
		<result column="USER_AUTHORITY" property="authority"/>
		<result column="USER_REGI_DATE" property="regiDate"/>
		<result column="USER_LOGIN_TYPE" property="loginType"/>
		<result column="USER_ENABLED" property="enabled"/>
	</resultMap>
	
</mapper>