body {
    text-align: center;
    background: azure;
}
span {
    float: left;
    margin-left: 3px;
    font-size: 12px;
}
.container {
    width: 410px;
    height: 80vh;
    margin: 0 auto;
    margin-top: 130px;
}
.reg_info {
    width: 400px;
    margin: 0 auto;
}
#id, #password, #pw_confirm, #nickName, #phone, #email{
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

#id_success, #id_fail, #pw_success, #pw_fail, #pw_confirm_success, #pw_confirm_fail, #nick_name_success, #nice_name_fail, #email_success, #email_fail{
	display: none;
}

#emailYN, .email_check {
    float: left;
}

.email_check {
    margin-top: 2px;
}

#email_success, #email_fail {
    float: right;
}

.reg_btn {
    width: 410px;
    height: 40px;
    margin-top: 35px;
}