#storyList_container {
	
}

.list-no {
	width: 6%;
}
.list-category {
	width: 10%
}
.list-title {
	width: 58%;
}

.list-nickName{
	width: 10%;
}

.list-viewCount{
	width: 8%;
}

.list-date{
	width: 8%;
}

.table tr, th{
	text-align: center;
}